.header {
    position: relative;
    height: 150px;
    align-items: flex-start;
    padding-top: 25px;
    background-image: linear-gradient(0deg, #fff, #fff9b7 6%, #45eeff 45%, #10f5e0 80%);
    justify-content: center;
    font-size: 36px;
}

.border-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/images/bg.png');
    background-repeat: repeat-x;
    background-size: 260px;
    background-position: 18% 100%;
    pointer-events: none;
}

a {
    color: #fff;
    text-decoration: none;
}