.header {
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    background-image: linear-gradient(60deg, #45eeff 45%, #10f5e0 80%);
    z-index: 1;
}

a {
    color: #fff;
    text-decoration: none;
}