.plant-card-header {
    height: 120px;
    padding-left: 210px;
}

.plant-card-img {
    background-color: #ffecf7;
    position: absolute;
    width: 180px;
    height: 120px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.plant-card:nth-child(even) .plant-card-img {
    background-color: #d8f5e0;
}

.plant-card:nth-child(3n + 3) .plant-card-img {
    background-color: #e1f3da;
}

.plant-info-list {
    padding: 20px 24px;
    margin-top: 0;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 0;
    background-color: #f5fff1;

    &:empty {
        display: none;
    }
}

.plant-section {
    margin-top: 25px;
    margin-bottom: 40px;
}

h3 {
    letter-spacing: .5px;
    border-bottom: 1px dashed #ccc;
}

p {
    max-width: 700px;
}

.button-primary-light {
    background-color: #b2ebf2;
    color: #00838f;
}

.actions {
    justify-content: flex-end;
}
