<form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <h1 class="search-title mat-display-2">what would you like to grow?
    </h1>
    <div class="search-row">
      <mat-form-field fxFlex appearance="fill" class="search-input" hideRequiredMarker>
        <mat-label>enter a plant name</mat-label>
        <input type="search" matInput autofocus formControlName="searchString" required>
        <mat-error *ngIf="searchForm.controls.searchString.hasError('required')">
          Type something, like "<u (click)="searchAndSetInput('delicata squash')" class="pointer">delicata squash</u>"
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-flat-button color="accent" class="search-button button-accent-light">Search</button>
    </div>
  </form>
  <app-plant-search-result [resultList]="results.data" *ngIf="results.data"></app-plant-search-result>