
.search-form {
    margin-top: 15px;
    margin-bottom: 30px;
}

.search-title {
    text-align: center;
    margin: 0 auto 40px;
}

.search-row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.search-input {
    flex-grow: 1;
    max-width: 550px;
    font-size: 16px;

    .mat-form-field-flex {
        padding-left: 1.75em;
    }
}

.search-button {
    height: 61px;
    margin-left: 15px;
    padding: 0 60px;
    font-size: 22px;
    letter-spacing: .5px;
}

.button-accent-light {
    background-color: #ff8bc8;
    color: #5b004a;
}