@use '~@angular/material' as mat;

$display: Arapey, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$custom-typography: mat.define-typography-config(
    $font-family: $display,
    $title: mat.define-typography-level(23px, 1.5, 400),
    $subheading-1: mat.define-typography-level(23px, 1.5, 400),
    $subheading-2: mat.define-typography-level(20px, 1.5, 400),
    $button: mat.define-typography-level(18px, 1, 400),
    $body-1: mat.define-typography-level(18px, 1.5, 400),
);

$digit-primary: mat.define-palette(mat.$cyan-palette);
$digit-accent: mat.define-palette(mat.$pink-palette);
$digit-warn: mat.define-palette(mat.$gray-palette, $text: 600 );

$digit-theme: mat.define-light-theme((
  color: (
    primary: $digit-primary,
    accent: $digit-accent,
    warn: $digit-warn,
  )
));

@include mat.core($custom-typography);
@include mat.all-component-themes($digit-theme);

html, body { height: 100%; }
body {
    margin: 0;
    background-color: #f9f9f9;
}

.mat-form-field {
    font-family: $serif;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow:
        0 1px 2px rgba(0,0,0,0.02),
        0 2px 4px rgba(0,0,0,0.02),
        0 4px 8px rgba(0,0,0,0.02),
        0 8px 16px rgba(0, 0, 0, 0.02);
}

.mat-expansion-panel .mat-content {
    overflow: visible;
}

.mat-button-base {
    .material-icons {
        position: relative;
        top: -1px;
        height: 18px;
        width: 18px;
        font-size: 18px;
        vertical-align: middle;
    }
}

.button-link {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #00838f;
    font-size: inherit;
    text-decoration: underline;
    text-decoration-color: inherit;
    cursor: pointer;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-icons {
    .material-icons {
        color: #888;
    }

    & > li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    & > li > .material-icons {
        margin-right: 12px;
        font-size: 25px;
        height: 25px;
        width: 25px;
    }
}

.list-breadcrumbs {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 0 30px;
    padding: 0;
    font-weight: 400;
    list-style: none;

    .breadcrumb-item .button-link {
        text-decoration: none;
        padding: 3px;
    }

    .breadcrumb-item:not(:last-child):after {
        content: '/';
        position: relative;
        top: 1px;
        margin: 0 4px;
        font-size: 1.1em;
        color: #888;
    }
}

.text-serif {
    font-family: $serif;
}

.text-center {
    text-align: center;
}

.list-x {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;

    li {
        padding: 0;
    }

    & > li + li {
        margin-left: 40px;
    }
}

.width-100 {
    width: 100%;
}
